[Unit]
Description=Run tuxedo fixup script at startup
Before=tccd.service
After=systemd-modules-load.service

[Service]
Type=oneshot
ExecStart=/usr/bin/fixtuxedo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
